.env
venv/
logs/

trial.ipynb
Reddit_Pytorch.ipynb

bert-base-uncased/
archieve\11-22-25-23-55-25\data_transformation\transformed\preprocessing_for_body.pkl
archieve\11-22-25-23-55-25\data_transformation\transformed\preprocessing_for_rule.pkl